.config {
  display: flex;
}

.game {
  display: flex;
}

.solutions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  border-color: red;
}

.solutions .solution {
  border-style: solid;
}

.solutions .solution.active {
  border-style: dashed;
}

.solutions .solution.valid {
  border-color: green;
}

.solutions .solution.invalid {
  border-color: red;
}

.solutions .solution svg{
  height: 200px;
  width: 200px;
}

.play .solution {
  padding: 20px;
  border-style: solid;
}

.setup {
  margin: 20px;

}

.red {
  filter: invert(16%) sepia(99%) saturate(7453%) hue-rotate(1deg) brightness(105%) contrast(112%);
}

.blue {
  filter: invert(7%) sepia(99%) saturate(7493%) hue-rotate(248deg) brightness(116%) contrast(142%);
}

.tile {
  font-size: 10pt;
  display: none;
}

.tile.top {
  display: block;
}

.tile .sel {
  display: block;
}

.tile:focus .sel{
  display: block;
}
